/* цвет основного текста rgba(117, 117, 117, 1) */
/* вторичный цвет текста  rgba(33, 33, 33, 1);*/       
/*цвет адресса rgba(255, 255, 255, 0.6)  */
/* белый #FFFFFF  */
/* акцент rgba(33, 150, 243, 1) */
/* вторичный цвет фона rgba(47, 48, 58, 1) */
/* цвет фона3 rgba(245, 244, 250, 1) */
:root{
  --primary-text-color: rgba(117, 117, 117, 1) ;
  --title-text-color:rgba(33, 33, 33, 1);
  --foorer-text-color:rgba(255, 255, 255, 0.6);
  --accent-color: rgba(33, 150, 243, 1);
  --primary-white-color: #ffffff;
  --footer-address-color:rgba(255, 255, 255, 1);
  --primary-background-color:rgba(47, 48, 58, 1);
  --primary-button-color:rgba(245, 244, 250, 1);
  --color-hover-bootton:rgba(25,170,250);
  --portfolio-project-color:rgba(238, 238, 238, 1);
  }
 html {
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing:inherit;
}

.list{

  list-style:none;
  
 }
 .dec-non{
  text-decoration: none;
 }

body{
  background-color:var(--primary-white-color);
  color:var(--primary-text-color); 
  font-family:'Roboto',sans-serif;
  margin: 0;
}
                        /* TESTTTTTTTT */
.testt{
position: relative;
width: 1600px;

margin-left:auto;
margin-right:auto;
}
                          /* TTTTTTTTTTTTT */



                 /* !!!!!!!!КОНТЕЙНЕР!!!!!!!! */

                 /* .containr{
                   width:1200px ;
                   padding-left: 15px;
                   padding-right: 15px;
                   margin-left: auto;
                   margin-right: auto;

                 } */


 /* розметка пробная */

.container{
  /* background-color: aquamarine; */
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  /* outline: 2px solid tomato; */
}
.main-nav {
  display: flex;
  align-items: center;
}

.min{
  display: flex;
  align-items: center;
  

}


                        /* ПРИМЕР УДАЛЕНИЯ КРАЙНИХ МАРДЖИНОВ */
/* .site-nav .item:not(:last-child ){
  margin-right: 50px;
  outline: 2px solid yellowgreen;
  background-color: blanchedalmond;
  
} */

/* .site-nav .item + .item{
  margin-left: 50px;
} */


.site-nav .item{
  margin-right: 50px;
  /* outline: 2px solid yellowgreen; */
  /* background-color: blanchedalmond; */
  
}

.site-nav .item:last-child{
  margin-right: 0;
}
 
.site-nav .link{
  display: block;
  padding: 40px 0px;
}


.site-nav{
  margin-left: 95px;
  display: flex;
}

.auth-nav{
  margin-left: auto;
  display: flex;
}

.auth-nav .item + .item{
  margin-left:50px;

}

.heroes-frame{

  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  /* outline: 2px solid greenyellow */
}

.speciality-blok{
display: flex;
margin-bottom: 0;
margin-top: 0;  
margin-bottom:95px ;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
width: 1200px;
/* outline:4px solid lightcoral; */

}

.special-title .indent-benefitc:not(:last-child){
  margin-right: 30px;
}
/* .benefits{
  
  border: 2px solid cyan;
} */

  .indent{
  
    margin-top: 0;
    margin-bottom: 10px;
    /* border: 2px solid cyan; */
  }
  /* .special-title .indent{
   background-color: aqua;
 } */
 

  .indent-benefitc{
    text-align: center;
    text-align: left;
    
    
    
    /* margin-right: 30px; */
  }
  

.work-blok{
  margin-left: auto;
  margin-right: auto;
  width:1200px;
  /* outline:4px solid blueviolet; */

}
.work{
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 95px;
}
  
 
 
.section-list{

  /* margin-bottom: ; */
 
  
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  /* outline:4px solid brown; */
}
 

.staff{
  margin-top: 0;
  margin-bottom: 0;

} 

.footer-box{
  margin-left: auto;
  margin-right: auto;
  width:1200px ;
  /* outline: 4px solid lightgreen */
  
 
}
.section{
 text-align: center;
  padding: 95px;
}



.secret{
  display:none;
 
}

.filter-button{
  
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 70px;
  text-align: center;
}

.dvig{
  padding-left:280px ;
  padding-right:auto;
}
                    /* !!!!!!!!!!РОЗМЕТКА ПРОБНАЯ ПОРТФОЛИО!!!!!!!!! */
                     /* .section{
                       background-color: darkkhaki;
                     } */
                    .section-container{
                      
                      width: 1200px;
                      padding-left: 15px;
                      padding-right: 15px;
                      margin-left: auto;
                      margin-right: auto;
                      /* outline: 2px solid red; */
                    }
                    .filter{
                      padding: 0;
                      margin-right: auto;
                      align-items: center;
                    }
                     
                    
                      
                    .filter{
                      display: inline;
                     padding-left: auto;
                     padding-right: auto;
                      display: flex;
                    }

                    .filter .item:not(:last-child){
                      margin-right: 8px;
                      
                    }

                    .project{
                      padding: 0;
                      display: flex;
                      flex-wrap: wrap;
                     
                    }
                    .cards{
                      /* background-color:var(--footer-address-color); */
                      background-color: aliceblue;
                    }
                    /* .cards{
                      width:370px ;
                    } */
                     .cards{
                      width: calc((100% - 60px) / 3)
                    }

                    .project .cards{
                      margin-right: 30px;
                      margin-bottom: 30px;
                    }
                    .project .cards:nth-child(3n){
                      margin-right:0px ;
                    }
                    .project .cards:nth-last-child(-n+3){
                      margin-bottom: 0;
                    }

                    
                     




             /* логотип */
              
.logo{
font-family:'Raleway';
font-style: normal;
text-decoration: none;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
color: black;
}
.web{
  color:var(--accent-color);
}

              /*Навигацыя сайта */
  .site-nav{
 font-weight: 500;
 font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.02em;
  }

  .link{
   text-decoration: none;
   color:var(--title-text-color);
     }

   .site-nav  :focus,
   .site-nav  :hover{
   color:var(--accent-color) ;
 }
 .site-nav .link.current{
   color:var(--accent-color) ;
 } 
 

 .auth-nav :focus,
 .auth-nav :hover{
color: var(--accent-color) ;
 } 
 
 .auth-nav{
   margin-top: 0;
   margin-bottom: 0;
 }

 .info-nav {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height:1.14;
  letter-spacing: 0.02em;
   color:var(--primary-text-color) ;
 }
             /* Шапка (студия) */
.heroes{
 margin-bottom: 95px;
 background-color:var(--primary-background-color);
}
  

             
.header{
  /* background-color: aqua; */
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 44px;
  line-height:1.4;
 
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color:var(--primary-white-color);
  margin-bottom:80px ;
} 
 

.button-man {
  border-radius:4px ;
  padding:10px 32px ;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 16px;
  line-height:1.9;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
}

.section-title{
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color:var(--title-text-color) ;
}
 /* особенности Студия */
 .special-title h3{
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
 }
    
 
  .benefits{
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    
  }
  
  .indent-benefitc{
   width: 270px; 
  }
  


  /* .indent-benefitc:not(:f){
    margin-right: 30px;
  
    } */
  /* чем ми занимаемся */
  .work{
    display: flex;
  }
  .work-img:not(:last-child){
    padding-right:30px ;
  }

  
  .section-work{
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom:50px ;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.7;
    
    letter-spacing: 0.03em;
    color: var(--title-text-color); 
  }


 
/* наша команда */

.section-work{
  text-align: center;
  padding: 0;
  padding-bottom:50px ;
  
}
.staff{
  padding-left: 0;
  padding-right: 0;
  display: flex;
  
}
.staff-work:not(:last-child){
  margin-right: 30px;
}
.staff-work{
  border-radius: 0px 0px 4px 4px;

  background-color:var(--footer-address-color)
}

.employee {
  margin-top: 0;
  margin-bottom: 0;
  padding-top:30px ;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height:1.2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.sek-test{
  background-color:var(--primary-button-color)
}
  
.speciality{
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;

}




  
 /* Кнопки фильтр портфолио */

  
  /* .button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 11px 34px;
  min-width: 130px;

  color: var(--title-text-color);
  background-color: var(--primary-white-color);

  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
  text-align: center;
} */

.button{
  display: inline-block;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color:var(--primary-button-color);
  }

  .button:focus,
  .button:hover{
    color: var(--primary-white-color);
    background-color: var(--accent-color);
  }
  .button.primary{
    color: var(--primary-white-color);
    background-color: var(--accent-color);}
    
    .button.primary:hover,
    .button.primary:focus{
    background-color:var(--color-hover-bootton);
    }
  
  .button.secondary{
    color:var(--title-text-color) ;
    background-color:var(--foorer-text-color) ;
  }
  
   
    
    /* ПОРТФОЛИО */
  
  .project-title{
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
    }
  
  
  .description{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color:var(--primary-text-color)
 }
 
         /* футер */
         .footer-box{
           width:1200px ;
           padding-left: 15px;
           padding-right: 15px;
           padding-bottom: 60px;
         } 
         .footer-logo{
           display: block;
           padding-bottom: 20px;
         }

          .footer-nav>.auth-info:not(:last-child){
           padding-bottom:9px ;
         } 

         .footer-nav{
          display: contents;
         }

         #address{
           font-style:normal;
         }
         footer{
          font-weight: 400;
          font-size: 14px;
          line-height: 1.7;
          letter-spacing: 0.03em;
          background-color: var(--primary-background-color);
        }
        footer .logo{
          text-decoration: none;
          color: var(--primary-white-color);
          } 
         
        .auth{
          
          text-decoration: none;
          color:var(--footer-address-color)
        }
        .info.footer{
          color:var(--foorer-text-color);
          text-decoration: none;
        } 





  

 


  
 
        
 



 
 
 


